<div class="drone interface row">
  <div {{action 'changePitchUp'}} class="div-button settings-change control pitch pitch-up col-sm-4 col-sm-push-8">
    <h1 class="vertical-center header">Pitch Up</h1>
  </div>
  <div class="display nopad col-sm-4">
    <div class="vertical-center">
      <span class="pitch">
        {{currentPitch.name}}
      </span>
      <span class="octave">
        {{currentPitch.octave}}
      </span>
      <span class="frequency">
        {{frequencyDisplay}}
      </span>
      <div class="controls">
        {{#if isPlaying }}
          <button {{action 'stop'}} class="transport stop control-button">stop</button>
        {{else}}
          <button {{action 'play'}} class="transport play control-button">play</button>
        {{/if}}
        <button {{action 'changeDefaultPo'}} class="control-button">default</button>
        <button {{action 'resetToDefault'}} class="control-button">reset</button>
      </div>
    </div>
  </div>
  <div {{action 'changePitchDown'}} class="div-button settings-change control pitch pitch-down col-sm-4 col-sm-pull-8">
    <h1 class="vertical-center header">Pitch Down</h1>
  </div>
</div>
{{outlet}}
