<div class="metro interface row">
  <div class="menu-container">
    <div class="menu info">
      <h3>metro Info</h3>
      <p>Nothing yet!</p>
    </div>
    <div class="menu settings">
      <h3>metro Settings</h3>
      <div class="volume control">
        <p class="pull-left header">Volume</p>
        <span class="">
          <span class="fa fa-minus settings-change keyButton change-down" aria-hidden="true"></span>
          <span class="display">75%</span>
          <span class="fa fa-plus settings-change keyButton change-up" aria-hidden="true"></span>
        </span>
      </div>
      <div class="beats control">
        <p class="pull-left header">Beats</p>
        <span>
          <span class="fa fa-minus settings-change keyButton change-down" aria-hidden="true"></span>
          <span class="display">2</span>
          <span class="fa fa-plus settings-change keyButton change-up" aria-hidden="true"></span>
        </span>
      </div>
      <div class="meter control">
        <p class="pull-left header">Meter</p>
          <select class="selector">
            <option selected="selected">Duple</option>
            <option>Triple</option>
          </select>
      </div>
      <div class="subdivision control">
        <p class="pull-left header">Subdivision</p>
          <select class="selector">
            <option>Half</option>
            <option>Quarter</option>
            <option selected="selected">Eighth</option>
            <option>Sixteenth</option>
          </select>
      </div>
    </div>
  </div>
  <div class="tempo control col-xs-3">
    <h3 class="header">Down</h3>
    <button {{action 'changeTempo' -1}}class="control-button change-up-1">-1</button>
    <button {{action 'changeTempo' -10}}class="control-button change-up-10">-10</button>
  </div>
  <div class="tempo control col-xs-6">
    <div class="knob tempo-dial">
      <h1 class="header">Tempo</h1><input class="knob option input" value="120" data-linecap=round>
    </div>
    <button {{action 'play'}} class="transport play control-button">play</button>
    <button {{action 'stop'}} class="transport stop control-button">stop</button>
  </div>
  <div class="tempo control col-xs-3">
    <h3 class="header">Up</h3>
    <button {{action 'changeTempo' 1}} class="control-button change-up-1">+1</button>
    <button {{action 'changeTempo' 10}} class="control-button change-up-10">+10</button>
  </div>
</div>
